﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Title Detail: {{item.Title.TitleName}}</title>
</head>
<body>
    <br />

    <div class="list-group">
      <a class="list-group-item active">
        <h4 class="list-group-item-heading">{{item.Title.TitleName}} - ({{item.Title.ReleaseYear}})</h4>
        <p class="list-group-item-text">{{item.Storylines[0].Description}}</p>
        
      </a>
    </div>

    <div>
        <span >Genres: </span>
            <ul aria-label="Genres">
                <li ng-repeat="item in item.Genres" style="list-style-type:none; display:inline; padding-left:20px;">
                    <span class="label label-default">{{item.Name}}</span>
                </li>
            </ul>
       </div>

    <div class="panel panel-primary" style="width:48%; float:left;">
      <div class="panel-heading">
        <h3 class="panel-title">Awards</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <th>Award</th>
                <th>Won</th>
                <th>Year</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in item.Awards">
                    <td>{{item.AwardCompany}} - {{item.Award1}}</td>
                    <td>{{item.AwardWon}}</td>
                    <td>{{item.AwardYear}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-primary" style="width:50%; float:right;">
      <div class="panel-heading">
        <h3 class="panel-title">Other Names</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <th>Name</th>
                <th>Language</th>
                <th>Type</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in item.OtherNames">
                    <td>{{item.TitleName}}</td>
                    <td>{{item.TitleNameLanguage}}</td>
                    <td>{{item.TitleNameType}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

    <div class="panel panel-primary" style="width:50%; float:right;">
      <div class="panel-heading">
        <h3 class="panel-title">Credits</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-condensed table-hover">
            <thead>
                <th>Name</th>
                <th>Role</th>
                <th>Appears On Screen</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in item.Participants">
                    <td>{{item.Name}}</td>
                    <td>{{item.Role}}</td>
                    <td>{{item.OnScreen}}</td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>
</body>
</html>
