﻿<h3>Titles Search</h3>
<br />
<form class="form-search">
    <div class="input-append">
        <input type="text" ng-model="query" class="input-medium search-query" placeholder="Search for a title">
        <button ng-click="reset()" type="submit" class="btn"><i class="glyphicon glyphicon-search"></i></button>
    </div>
    <button ng-click="query=''; reset()" ng-disabled="!query" type="submit" class="btn">Reset</button>
</form>
<br />
<table class="table table-striped table-condensed table-hover">
    <thead>
        <th>Title Name</th>
        <th>Release Year</th>
        <th></th>
    </thead>
    <tbody>
        <tr ng-repeat="item in items">
            <td><a href="#/detail/{{item.TitleId}}">{{item.TitleName}}</a></td>
            <td>{{item.ReleaseYear}}</td>
            <td><a href="#/detail/{{item.TitleId}}"><i class="glyphicon glyphicon-search"></i></a></td>
        </tr>
    </tbody>
</table>